/*------------------------------------*\
    ::Footer
\*------------------------------------*/
@include sticky-footer(
    $wrap: '.wrap-all-the-things',
    $row:  '.main-head, .main-torso, .main-foot',
    $flex: '.main-torso'
);
.main-foot{
	background: #000;
	ul{
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		font-family: $fam-heading;
	}
	.nav__inner{
		padding: $pad;
		text-align: center;
		a{
			padding: $pad;
		}
		span{
			a{
				padding: 0;
			}
		}
	}
	p{
		color: #fff;
		float: right;
		margin: 0;
		padding: $pad;
		font-family: $fam-body;
		letter-spacing: .01em;
	}
	svg{
		display: inline-block;
		width: 64px;
		height: 64px;
		fill: $white;
		&:hover{
			fill: $color-3;
		}
	}
	@include bp(820px){
		.foot-nav{
			li{
				display:inline-block;
				float:none;
			}
		}
	}
	@include bp(700px){
		p{
			float: none;
			text-align: center;
		}
		.nav__inner{
			span{
				float: none;
				margin-top: 1em;
				display: block;
			}
		}
		.foot-nav{
			ul{
				float: none;
			}
			li{
				float: none;
				text-align: center;
				display:block;
			}
			a{
				padding: .5em;
			}
		}
	}
}